html{
    background-color: #000000;
    color:#ffffff;
    text-align: center;
}
.info{
    margin-top: 300px;
    font-size: 40px;
}
input, button, #senha{
    height: 50px;
    width: 300px;
    font-size: 30px;
}
#senha, button{
    border: #ffffff;
    border-width: 4px;
    border-style: solid;
    border-radius:4px;
}