html{
    width: 100%;
    height: 100%;
    border: 0px;
    
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
}
.banner{
    background-color: #000000;
    width: 100%;
    height: 10%;
    color:#ffffff;
    text-align: left;
}
h1{
    font-size: 40px;
}
.title{
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 50px;
    text-decoration: double;
}
.icon{
    margin-top: 10px;
}
.icon, .iconimg{
    display: inline-block;
}
.iconimg{
    height: 70%;
    width: 70%;
}
.colunalateral{
    border-width: 50px;
    border: #000000;
    border-style: solid;
    background-color: #D9D9D9;
    width: 20%;
    height: 100%;
    text-align: center;
    margin:0px;
    display: inline-block;
    position:absolute;
    border-top:0px;
}

.primeiroselecionavel{
    border: #000000;
    border-width: 3px;
    border-style: solid;
    
}
.segundoselecionavel{
    border: #000000;
    border-width: 3px;
    border-style: solid;
}
.terceiroselecionavel{
    border: #000000;
    border-width: 3px;
    border-style: solid;
    
}
 .areademaquinas{
    display:inline-block;
    margin-left: 40%;
    margin-top: 6%;
    width: 30%;
}
.areademaquinas{
    background-color: #FDFCFC;
    text-align: center;
    padding: 50px;
    border: #000000;
    border-style: solid;
    border-width: 5px;
    
}
#acesso{
    width: 200px;
    height: 60px;
    background-color: #D9D9D9;
    text-align: center;
    cursor: pointer;
    border-width: 2px;
    border: #000000;
    border-style: solid;
}
.maquina1 , .maquina2 , .maquina3 , .maquina4{
    display: inline-block;
    border-width:20px;
    border:#FDFCFC;
    border-style: solid;
}
/*segunda página*/
.caixaflutuante{
    text-align: center;
    display:inline-block;
    margin-left: 40%;
    margin-top: 6%;
    width: 600px;
    background-color: #FDFCFC;
    border-color: #000000;
    border-width: 4px;
    border-style: solid;
    padding: 100px;
}
.img_torno{
    rotate: 270deg;
    height: 30%;
    width: 30%;
    border: #000000;
    border-style: solid;
    border-width: 2px;
}
#title_caixa{
    border: #000000;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px;

}
#caixa_manutencao{
    border: #000000;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px;
}
#caixa_modelo{
    border: #000000;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px;

}
#caixa_problemas{
    border: #000000;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px;

}
#caixa_observacoes{
    border: #000000;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px;

}
#caixa_fabricacao{
    border: #000000;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px;
}
.acesso_submit{
    width: 210px;
    height: 70px;
    background-color: #D9D9D9;
    text-align: center;
    cursor: pointer;
    border-width: 1px;
    border: #000000;
    border-style: solid;
}
#problemas_1{
    width: 100px;
    height: 30px;
}
#problemas_2{
    width: 40px;
    height: 30px;
}
.none_href{
    text-decoration: none;
    color:#000000;
}
#manutencao_tri_subpage{
    width: 100px;
    height: 30px;
}
#problemas_tri_subpage{
    width: 40px;
    height: 30px;
}
.button_desativar_div{
    margin-top: 20px;
}
.red_button{ width: 210px;
    height: 70px;
    background-color: #9f0d0d;
    text-align: center;
    cursor: pointer;
    border-width: 1px;
    border: #000000;
    border-style: solid;
    color:#ffffff;
}
#br_desativar {
    color:#9f0d0d;
    font-size: 40px;
    text-align: center;
}